 <main>
    <h1>Create New Offer</h1>
    <p class="message">{{err.msg}}</p>
    <form method="post">
        <div>
            <input type="text" name="name" placeholder="Name..."
                value="{{x.name}}">
        </div>
        <div>
            <input type="text" name="price" placeholder="Price..."
                value="{{x.price}}">
        </div>
        <div>
            <input type="text" name="imageUrl" placeholder="Image url..."
                value="{{x.imageUrl}}">
        </div>
        <div>
            <textarea name="description" placeholder="Give us some description
                about this
                offer...">{{x.description}}</textarea>
        </div>
        <div>
            <input type="text" name="brand" placeholder="Brand..."
                value="{{x.brand}}">
        </div>
        <div>
            <button type="submit">Create</button>
        </div>
    </form>
</main>
